.STYLE_body_parameters{
    display: flex;
    flex-direction: column;
    background-color: #8544cc;
}
.STYLE_body_background{
    background-image: url("BG_picture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.STYLE_header{
    font: 30px "Times New Roman";
    color: white;
    text-decoration: underline 2px;
    text-align: center;
}
.STYLE_grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}